* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3.5rem;

  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
}

.abstract-logo {
  width: 126px;
}

.help-center {
  border-left: solid #ffffff 2px;
  padding-left: 0.75rem;
  font-weight: 300;
}

button {
  border: solid 1px #ffffff;
  border-radius: 6px;
  color: #ffffff;
  background-color: #191a1b;
  padding: 0.65rem 1.25rem;
  font-size: 1.25rem;
}

.header-btns,
.logo-wrapper {
  display: flex;
  gap: 0.85rem;
  align-items: center;
}

button.highlight {
  border: none;
  color: #ffffff;
  background-color: #4c5fd5;
  padding-inline: 1.5rem;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-block: 6rem;

  background-color: #dadbf1;
}

.search h1 {
  font-size: 5rem;
  font-weight: 400;
}

.flex-searchbar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchbar {
  width: 45rem;
  margin: 1.5rem;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  border: solid 1px #000;
  border-radius: 4px;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.searchbar::placeholder {
  opacity: 0.65;
}

.searchbar:focus,
.searchbar:hover {
  border-color: #4c5fd5;
}

.arrow-svg {
  width: 28px;
  position: absolute;
  right: 40px;
}

.searchbar:hover + .arrow-svg,
.arrow-svg:hover {
  fill: #4c5fd5;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 6rem 3rem;

  margin-block: 180px;
}

.grid-cell {
  display: grid;
  grid-template-columns: max-content 180px;
  gap: 2rem;
}

.grid-cell img {
  width: 70px;
}

.sub-cell p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.sub-cell h2,
.sub-cell p {
  margin-bottom: 1rem;
}

.sub-cell a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #4c5fd5;
}

.sub-cell a:hover {
  text-decoration: underline;
}
